*{
    margin: 0;
    padding: 0;
}
/* Heading Part Start */
.heading_part{
    background-image: url("img/Banner\ Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    width: 1000px;
    margin-top: 50px;
    border-radius: 16px;
    margin: auto;
    position: relative;
    margin-top: 50px;
}
.heading_part .heading_text{
    padding-top: 100px;
}
.heading_part .heading_text .heading_h3{
    font-family: 'Merriweather', serif;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.heading_part .heading_text .heading_h1{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}
/* Heading Part End */


/* Discount Part Start */
.Discount_part{
    width: 1000px;
    margin: auto;
    margin-top: 120px;
}
.Discount_part .Discount_text{
    text-align: center;
}
.Discount_part .Discount_text .Discount_h1{
    color: #F00;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Discount_part .Discount_text .Discount_p{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.Discount_papyrt .Discount_text .Discount_h2{
color: #070211;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Discount_part .Discount_img{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
margin: auto;
margin-top: 50px;
}
/* Discount Part End */
.part_3{
    background-image: url("img/Vectorrr.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

/* Part 3 Start */
.part_3{
    display: flex;

}
.part_3 .part_3_text{
    margin-left: 50px;
    padding-top: 70px;
}
.part_3 .part_3_text .part_3_h1{
    color: #FFF;

font-family: Merriweather;
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
}
.part_3 .part_3_text .part_3_p{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.part_3 .part_3_text .part_3_a{
    margin-left: 20px;
    text-decoration: none;
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.part_3 .part_3_flex_img .part_3_flex1_img{
width: 250px;
height:300px;
margin-top: 80px;

}
/* Part 3 End */

/* Part 4 Start */
.part_4{
    height: 400px;
    width: 1000px;
    margin: auto;
    background-color: #FFE8E8;
    margin-top: 100px;
    border-radius: 15px;
}
.part_4 .part_4_text{
    text-align: center;
    padding-top: 70px;

}
.part_4 .part_4_text h6{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;

}
.part_4 .part_4_text h6 span{
    color: #F00;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.part_4 .part_4_btn{
    text-align: center;
    margin-top: 48px;
}
.part_4 .part_4_btn .part_4_a {
    border-radius: 8px;
background: #F00;
padding: 16px 32px;
height: 24px;
width: 103px;
color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}
/* Part 4 End */


/* Part 5 Start */

